WOOLBasicTutorial/.gradle
WOOLBasicTutorial/.idea
WOOLBasicTutorial/build/
WOOLBasicTutorial/gradle/
WOOLCLClientTutorial/.gradle
WOOLCLClientTutorial/.idea
WOOLCLClientTutorial/build/
WOOLCLClientTutorial/gradle/
